.container {
    width: 400px;
	height: 700px;
	color: black;
	padding: 20px;
	background-color: rgb(24, 43, 214);
	text-align: center;
	font-weight: bold;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
	border-radius: 10px;
  }
  
  .container h2 {
    text-align: center;
  }
  
  .form_boxes {
    margin-bottom: 15px;
  }
  
  .form_boxes label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form_boxes input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form_boxes button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .form_boxes button:hover {
    background-color: #45a049;
  }
  
 .addfood{
  width:600px;
  height:400px;
  margin:20px auto;
  }

  h1{
  text-align:center;
  }